#contents {margin-top:100px !important}
#container.bg {min-height:600px !important}
.xans-member-joincomplete {      padding: 73px 0;
    line-height: 150%;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    width: 600px;
    margin: 0 auto;
    border-radius: 10px;}
.xans-member-joincomplete .joinComplete h3 { margin:0 0 30px 0; }
.xans-member-joincomplete .joinComplete .desc {    margin: 0 0 30px;
    font-size: 20px;
    color: #5d5d5d;
    font-weight: normal;}

.xans-member-joincomplete .joinComplete .ec-base-box { width:430px; margin:0 auto;overflow:hidden; border:1px solid #d6d4d4; text-align:left; }
.xans-member-joincomplete .joinComplete .ec-base-box li strong { padding:0 0 0 10px; width:95px; color:#2e2e2e; font-weight:normal; background:url("//img.echosting.cafe24.com/skin/base/common/ico_arrow.png") no-repeat 0 6px; }
.xans-member-joincomplete .joinComplete .memberSpecial { margin:40px 0 0; line-height:160%; color:#757575; }
.xans-member-joincomplete .joinComplete .memberSpecial p { margin:5px 0 0; }
.xans-member-joincomplete .joinComplete .memberSpecial p:first-child { margin:0; }
.xans-member-joincomplete .joinComplete .memberSpecial em { color:#34a7b3; font-style:normal; }

.xans-member-joincomplete .joinComplete .memberAge { margin:20px 0 0; line-height:160%; }
.xans-member-joincomplete .joinComplete .memberAge strong { color:#f26323; }
.xans-member-joincomplete .btnLogin a{    display: inline-block;
    box-sizing: border-box;
    padding: 14px 98px;
    background: #444;
    font-family: nunito;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 13px;
    margin-top: 47px;
    COLOR: #fff;}

.xans-member-joincomplete .hvr-sweep-to-right:before {background:#171717
}