.xans-myshop-couponserial .title { margin:0 0 10px 0px; }
.xans-myshop-couponserial .title h3 {     font-family: 'noto sans kr','Malgun Gothic';
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    font-size: 18px;}

.xans-myshop-couponserial .couponSerial { text-align:center; }
.xans-myshop-couponserial .couponSerial #coupon_code { height:34px; width:340px; font-size:15px; text-align:center; }
.xans-myshop-couponserial .couponSerial p { padding:10px 0 0; color:#757575; }