#myshopMain { margin:30px 0 0; border-top:3px solid #333; border-bottom:3px solid #333; }
#myshopMain .shopMain { height:90px; padding:27px 0 0 30px; border-bottom:1px solid #e9e9e9; background:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop1.gif") no-repeat 100% 0; }
#myshopMain .shopMain h3 { padding:0 0 5px; font-size:12px; color:#333; font-weight:normal; }
#myshopMain .shopMain h3 strong { font-size:18px; padding:0 8px 0 0; }
#myshopMain .shopMain h3 a:hover { text-decoration:none; }
#myshopMain .shopMain p a { font-size:12px; line-height:18px; color:#8f8f8f; }
#myshopMain .shopMain.order { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop1.gif"); }
#myshopMain .shopMain.profile { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop2.gif"); }
#myshopMain .shopMain.wishlist { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop3.gif"); }
#myshopMain .shopMain.mileage { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop4.gif"); }
#myshopMain .shopMain.deposits { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop9.gif"); }
#myshopMain .shopMain.consult { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop5.gif"); }
#myshopMain .shopMain.coupon { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop6.gif"); }
#myshopMain .shopMain.board { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop7.gif"); }
#myshopMain .shopMain.address { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop8.gif"); }
#myshopMain .shopMain.inquiry { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop10.gif"); }
#myshopMain .shopMain.likeIt { background-image:url("//img.echosting.cafe24.com/skin/base/myshop/bg_myshop11.gif"); }