#popup { width:600px; }
.xans-myshop-orderhistoryescrow { font-size:11px; }
.xans-myshop-orderhistoryescrow fieldset { display:block; padding:0 0 20px; color:#353535; vertical-align:middle; }
.xans-myshop-orderhistoryescrow fieldset input { height:22px; margin:0 4px; padding:0 0 0 9px; border:1px solid #d5d5d5; line-height:22px; }
.xans-myshop-orderhistoryescrow fieldset p { padding:0 0 20px; color:#008bcc; line-height:17px; }