.xans-product-menupackage { position:relative;margin:0 0 50px 0;}
.xans-product-menupackage .title { text-align:center;  margin: 0 0 5px 0;}
.xans-product-menupackage .title .banner { margin-bottom:5px; }
.xans-product-menupackage .title .banner img{width:100%;}
.xans-product-menupackage .title h2 {font-weight:500; font-size:22px;}
.xans-product-menupackage .title h2,
.xans-product-menupackage .title .likeButton { display:inline-block; vertical-align:middle; margin-bottom:45px; display:none;}
.xans-product-menupackage .title .likeButton button { margin:0 0 0 10px; color:#666; background:none; }
.xans-product-menupackage .title .likeButton.selected button { color:#353535; }

.tit2{      display: block;vertical-align: middle;padding: 0 0 50px;font-size: 23px;font-weight: 400;color: #424242;letter-spacing: 0px;}
/* 분류명 이미지 안보이게 */
.subtimg {display:none;}
.xans-product-menupackage .menuCategory {}
.xans-product-menupackage .menuCategory .tit2{      font-size: 46px;line-height: 32px;display: block;vertical-align: middle;padding-bottom: 25px;width: 100%;text-align: center;font-weight: 800;letter-spacing: 5px;}
.xans-product-menupackage .menuCategory .tit2 img{display:none;}
.xans-product-menupackage .menuCategory .tit2 b {     display: block;padding-top: 2px;letter-spacing: 2px;font-weight: 300;font-size: 17px;color: rgba(255, 255, 255, 0.65);width: 200px;margin: 0 auto;border-top: 1px solid rgba(221, 221, 221, 0.55);border-bottom: 1px solid rgba(221, 221, 221, 0.55);margin-top: 18px;}
.xans-product-menupackage .menuCategory .tit2 b strong {font-weight:300;}
/*하위분류*/
.xans-product-menupackage .menuCategory > li { display:inline-block; vertical-align:top; margin-right:8px; margin-top:8px; position:relative; }
.xans-product-menupackage .menuCategory > li > a {       display: block;padding: 11px 18px;font-size: 13px;line-height: 20px;font-weight: 400;box-sizing: border-box;color: #ababab;letter-spacing: -1px;background: #efefef;}
.xans-product-menupackage .menuCategory > li.selected > a {       font-weight: 300;background: #a2a2a2;color: #fff;border: 0;}
.xans-product-menupackage .menuCategory > li .count { font-weight:normal; }

.xans-product-menupackage .menuCategory > li i{position:absolute; top:10px; right:10px; font-size:14px;}

/*하위의 하위분류*/
.xans-product-menupackage .menuCategory > li > ul { opacity:0; visibility:hidden; transition: .2s ease-in-out; border:1px solid #ececec; border-top:0; padding:8px; background:#fff; position:absolute; top:36px; left:0; width:100%; box-sizing:border-box; z-index: 999999;}
.xans-product-menupackage .menuCategory > li > ul > li { padding:0 5px; transition: .2s ease-in-out;}
.xans-product-menupackage .menuCategory > li > ul > li > a { line-height:26px;}
.xans-product-menupackage .menuCategory > li > ul > li:hover,
.xans-product-menupackage .menuCategory > li > ul > li.selected{ background:#efefef;}
.xans-product-menupackage .menuCategory > li > ul > li > .button { display:inline-block; position:relative; width:9px; height:14px; margin:1px 0 0 3px; vertical-align:top; }

.xans-product-menupackage .menuCategory > li:hover ul{opacity:1; visibility:visible;}

.xans-product-menupackage .subCategory { display:none; position:absolute; left:50%; top:13px; z-index:11; width:300px; margin:0 0 0 -151px; padding:6px 0; border:1px solid #ececec; font-size:0; line-height:0; background:#fff url("//img.echosting.cafe24.com/skin/base_ko_KR/product/bg_sub_category_line.gif") repeat-y 150px 0; }
.xans-product-menupackage .subCategory li { display:inline-block; width:130px; margin:8px 0 8px 18px; font-size:12px; line-height:14px; vertical-align:top; }
.xans-product-menupackage .subCategory li a { color:#575a63; }
.xans-product-menupackage .subCategory li a:hover,
.xans-product-menupackage .subCategory li.selected a { color:#222; }
.xans-product-menupackage .menuCategory .button.selected { z-index:11; }
.xans-product-menupackage .menuCategory .button.selected .subCategory { display:block; }