.xans-product-recentlist table td{text-align:center;}
.xans-product-recentlist table td a,
.xans-product-recentlist table td .strike strong { color:inherit; }
.xans-product-recentlist table td.product{text-align:left; padding-left:10px;}
.xans-product-recentlist table td.product strong { display:block; color:#008bcc; }
.xans-product-recentlist table td.product img{max-width:23px;}
.xans-product-recentlist table td.option select{margin:2px 0;}
.xans-product-recentlist table td.image img { max-width:80px; }
.xans-product-recentlist table td.button a { margin:2px 0; }
.xans-product-recentlist table td .xans-product-setproduct { margin:5px 0 0; }
.xans-product-recentlist table td .xans-product-setproduct li { margin:2px 0 0; color:#444; }

