<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "//www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="//www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>기본 레이아웃</title>





    <link rel="stylesheet" href="/_onedesign/css/basic.css">
	<!--@css(/layout/basic/css/common.css)-->
    <!--@css(/layout/basic/css/ec-base-ui.css)-->
    <!--@css(/layout/basic/css/ec-base-tooltip.css)-->
    <!--@css(/layout/basic/css/ec-base-help.css)-->
    <!--@css(/layout/basic/css/ec-base-product.css)-->
    <!--@css(/layout/basic/css/ec-base-paginate.css)-->
    <!--@css(/layout/basic/css/ec-base-tab.css)-->
    <!--@css(/layout/basic/css/ec-base-layer.css)-->
    <!--@css(/layout/basic/css/ec-base-box.css)-->
    <!--@css(/layout/basic/css/ec-base-table.css)-->
    <!--@css(/layout/basic/css/ec-base-desc.css)-->

    <!-- 스마트디자인에서는 JQuery 1.4.4 버전이 내장되어있습니다. 추가로 호출하면 충돌이 생길 수 있습니다. -->
    <!--@js(/js/common.js)-->
    <!--@js(/layout/basic/js/popup.js)-->

	<!--@css(/_onedesign/css/jquery.mCustomScrollbar.css)-->
	<!--@js(/_onedesign/js/jquery.mCustomScrollbar.js)-->

	<!-- 기본 폰트설정 -->
	<style>
	@import url('http://fonts.googleapis.com/earlyaccess/notosanskr.css');
	@import url('https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css');
	@import url('https://fonts.googleapis.com/css?family=Hind+Madurai:300,400,500,600,700');
	@import url('https://fonts.googleapis.com/css?family=Nunito:100,200,300,400,700,900|Lobster:400');
	@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600');

	</style>

	<!-- 아이콘 -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
	<link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css">
</head>

<body id="popup">
<!--@contents-->
</body>
</html>