.xans-photoreview-display h2 { overflow:hidden; height:17px; margin:0 0 18px; text-indent:100%; background:url('//img.echosting.cafe24.com/apps/photo-review/skin1/txt_title.png') no-repeat 0 0; }

.xans-photoreview-display .photoreview-count { float:left; color:#828282; }
.xans-photoreview-display .photoreview-count strong { color:#ff6600; }

.xans-photoreview-display .photoreview-outputNumber { float:right; position:relative; top:-4px; margin:0 0 2px; color:#828282; }
.xans-photoreview-display .photoreview-viewMode { float:right; position:relative; top:-4px; margin:0 5px 2px; color:#828282; }

.xans-photoreview-display table { border-top:2px solid #838383; }
.xans-photoreview-display tbody { display:none; }
.xans-photoreview-display tr { padding:0 35px 0 0; }
.xans-photoreview-display th { padding:12px 0; border-bottom:1px solid #b1b1b1; color:#464646; background-color:#e6e6e6; }
.xans-photoreview-display th.product { text-indent:-30px; }
.xans-photoreview-display th.count { text-align:left; text-indent:3px; }
.xans-photoreview-display td { padding:5px 0; border-bottom:1px solid #e5e5e5; color:#828282; text-align:center; vertical-align:middle; }
.xans-photoreview-display table.embed td { padding:12px 0; }
.xans-photoreview-display td.product,
.xans-photoreview-display td.subject { text-align:left; }
.xans-photoreview-display td.date { font-size:11px; }
.xans-photoreview-display td.count { text-align:left; text-indent:13px; background:url('//img.echosting.cafe24.com/apps/photo-review/skin1/ico_arrow_up.gif') no-repeat 58px 50%; }
.xans-photoreview-display tr.selected td.count { background-image:url('//img.echosting.cafe24.com/apps/photo-review/skin1/ico_arrow_down.gif'); }
.xans-photoreview-display td img.product { float:left; margin-left:4px; border:1px solid #e1e1e1; }
.xans-photoreview-display td.product strong { color:#0067c7; font-weight:normal; }
.xans-photoreview-display td a { color:#828282; }
.xans-photoreview-display table.embed td.subject a { float:left; margin:0 10px; }
.xans-photoreview-display tr.selected td.subject a { color:#ff6600; }
.xans-photoreview-display tr.reviewArea td { padding:30px 20px 26px 43px; text-align:left; background-color:#f5f5f5; }
.xans-photoreview-display tr.reviewArea td img { max-width:500px; margin:0 12px 13px 0; }
.xans-photoreview-display tr.reviewArea td p { clear:both; font-family:arial, dotum, sans-serif; line-height:18px; }

.photoreview_skin3 .photoreview-paging { margin:20px auto 0; text-align:center; font-size:0; line-height:0; }
.photoreview_skin3 .photoreview-paging ol { display:inline; white-space:nowrap; }
.photoreview_skin3 .photoreview-paging li,
.photoreview_skin3 .photoreview-paging p { display:inline; }
.photoreview_skin3 .photoreview-paging li a,
.photoreview_skin3 .photoreview-paging li strong { position:relative; display:inline-block; height:11px; padding:0 9px 0 10px; font-size:12px; line-height:10px; vertical-align:6px; *vertical-align:6px; font-weight:bold; border-left:1px solid #dce0e4; }
.photoreview_skin3 .photoreview-paging li:first-child a,
.photoreview_skin3 .photoreview-paging li:first-child strong { border-left:0; }
.photoreview_skin3 .photoreview-paging li a { color:#1c1c1c; }
.photoreview_skin3 .photoreview-paging li strong { color:#ff6600; }
.photoreview_skin3 .photoreview-paging p a { display:inline-block; width:20px; height:20px; padding:0; border-left:0; background-image:url('//img.echosting.cafe24.com/apps/photo-review/skin1/btn_paging.png'); background-repeat:no-repeat; }
.photoreview_skin3 .photoreview-paging p a span { position:absolute; left:100%; visibility:hidden; }
.photoreview_skin3 .photoreview-paging .first { margin-right:5px; }
.photoreview_skin3 .photoreview-paging .first a { background-position:0 0; }
.photoreview_skin3 .photoreview-paging .prev a { margin-right:5px; background-position:-30px 0; }
.photoreview_skin3 .photoreview-paging .next a { margin-left:5px;background-position:-60px 0; }
.photoreview_skin3 .photoreview-paging .last a { background-position:-90px 0; }
.photoreview_skin3 .photoreview-paging .last { margin-left:5px; }

.xans-photoreview-display .reviewDetail {display:none;}

.xans-photoreview-display .more { display:none; float:left; width:100%; height:38px; margin:28px 0 0; background: url('//img.echosting.cafe24.com/apps/photo-review/skin3/bg_more.jpg') repeat-x 0 0; }
.xans-photoreview-display .more a { display:block; padding:13px 0 0; height:25px; color:#fff; text-align:center; }
.xans-photoreview-display .more a:hover { text-decoration:none; }
.xans-photoreview-display .more a strong { padding:0 26px 0 0; background:url('//img.echosting.cafe24.com/apps/photo-review/skin3/ico_more.gif') no-repeat 100% 1px; }