.xans-photoreview-display h2 { overflow:hidden; height:17px; margin:0 0 18px; text-indent:100%; background:url('//img.echosting.cafe24.com/apps/photo-review/skin2/txt_title.png') no-repeat 0 0; }

.xans-photoreview-display .photoreview-count { margin:0 0 7px; color:#828282; }
.xans-photoreview-display .photoreview-count strong { color:#ff6600; }

.xans-photoreview-display .inner { display:none; position:relative; overflow:hidden; min-width:752px; border:1px solid #bcbcbc; border-bottom:0; background-color:#1a1c22; }

.xans-photoreview-display .photoreview-image { float:left; width:432px; height:434px; text-align:center; }
.xans-photoreview-display .photoreview-image img { position:absolute; top:50%; left:62px; width:308px; height:382px; margin:-202px 0 0; }
.xans-photoreview-display .embed .photoreview-image img { left:60px; width:312px; height:263px; margin-top:-143px; }
.xans-photoreview-display .photoreview-image .page { position:absolute; bottom:6px; left:0; width:432px; color:#737373; }
.xans-photoreview-display .photoreview-image .page strong { color:#fff; font-weight:normal; }
.xans-photoreview-display .photoreview-image .page strong.current { color:#ed5f00; font-weight:bold; }
.xans-photoreview-display .photoreview-image button { position:absolute; top:50%; left:15px; width:15px; height:30px; margin:-15px 0 0; text-indent:-9999px; background:url('//img.echosting.cafe24.com/apps/photo-review/skin2/btn_navigation.png') no-repeat 0 0; }
.xans-photoreview-display .photoreview-image button.prev:hover { background-position:0 -40px; }
.xans-photoreview-display .photoreview-image button.prev.disabled { cursor:default; background-position:0 0; }
.xans-photoreview-display .photoreview-image button.next { left:402px; background-position:-25px 0; }
.xans-photoreview-display .photoreview-image button.next:hover { background-position:-25px -40px; }
.xans-photoreview-display .photoreview-image button.next.disabled { cursor:default; background-position:-25px 0; }

.xans-photoreview-display .photoreview-list { min-height:375px; float:right; width:320px; padding:0 0 59px; background-color:#fff; }
.xans-photoreview-display .photoreview-list li { float:left; margin:1px 0 0 1px; padding:10px 10px 9px 29px; border-bottom:1px solid #d9dbdd; word-break:break-all; background-color:#f0f0f0; }
.xans-photoreview-display .photoreview-list li.selected { background-color:transparent; }
.xans-photoreview-display .photoreview-list .image { float:left; }
.xans-photoreview-display .photoreview-list .image img { width:52px; height:52px; border:1px solid #fff; }
.xans-photoreview-display .photoreview-list .subject { float:right; width:209px; margin:1px 0 4px; color:#0067c7; }
.xans-photoreview-display .photoreview-list .subject a { color:#353535; font-weight:bold; }
.xans-photoreview-display .photoreview-list .star { float:right; width:209px; }
.xans-photoreview-display .embed .photoreview-list .star { margin:12px 0 0; }
.xans-photoreview-display .photoreview-list .star img { float:left; }
.xans-photoreview-display .photoreview-list .star strong { float:left; width:136px; margin:0 0 0 9px; color:#828282; font-weight:normal; }
.xans-photoreview-display .photoreview-list em { float:right; width:210px; margin:4px 0 0; color:#828282; font-style:normal; font-size:11px; }

.xans-photoreview-display .inner .photoreview-paging { position:absolute; right:0; bottom:0; width:319px; padding:19px 0 18px; border-bottom:1px solid #d9dbdd; text-align:center; font-size:0; line-height:0; background-color:#f0f0f0; }
.xans-photoreview-display .inner .photoreview-paging ol { display:inline; white-space:nowrap; }
.xans-photoreview-display .inner .photoreview-paging li,
.xans-photoreview-display .inner .photoreview-paging p { display:inline; }
.xans-photoreview-display .inner .photoreview-paging li a,
.xans-photoreview-display .inner .photoreview-paging li strong { position:relative; display:inline-block; height:11px; padding:0 9px 0 10px; font-size:12px; line-height:10px; vertical-align:6px; *vertical-align:6px; font-weight:bold; border-left:1px solid #dce0e4; }
.xans-photoreview-display .inner .photoreview-paging li:first-child a,
.xans-photoreview-display .inner .photoreview-paging li:first-child strong { border-left:0; }
.xans-photoreview-display .inner .photoreview-paging li a { color:#1c1c1c; }
.xans-photoreview-display .inner .photoreview-paging li strong { color:#ff6600; }
.xans-photoreview-display .inner .photoreview-paging p a { display:inline-block; width:20px; height:20px; padding:0; border-left:0; background-image:url('//img.echosting.cafe24.com/apps/photo-review/skin2/btn_paging.png'); background-repeat:no-repeat; }
.xans-photoreview-display .inner .photoreview-paging p a span { position:absolute; left:100%; visibility:hidden; }
.xans-photoreview-display .inner .photoreview-paging .first { margin-right:5px; }
.xans-photoreview-display .inner .photoreview-paging .first a { background-position:0 0; }
.xans-photoreview-display .inner .photoreview-paging .prev a { margin-right:5px; background-position:-30px 0; }
.xans-photoreview-display .inner .photoreview-paging .next a { margin-left:5px;background-position:-60px 0; }
.xans-photoreview-display .inner .photoreview-paging .last a { background-position:-90px 0; }
.xans-photoreview-display .inner .photoreview-paging .last { margin-left:5px; }

.xans-photoreview-display .photoreview-detail { display:none; min-width:684px; padding:21px 34px 20px; border:1px solid #bcbcbc; border-top:0; line-height:18px; word-break:break-all; background-color:#fff; }
.xans-photoreview-display .photoreview-detail .subject { color:#ed5f00; }
.xans-photoreview-display .photoreview-detail .subject strong { color:#464646; }
.xans-photoreview-display .photoreview-detail .content { margin:11px 0 0; color:#828282; font-family:arial, dotum, sans-serif; }