/* reset */
li { list-style:none; }
table { width:100%; border:0; border-spacing:0; border-collapse:collapse; }
caption { display:none; }
h1, h3 { margin:0; }

/* common */
.ec-base-layer { position:absolute; z-index:100; }
.ec-base-layer .header {    background: #9c9a9a;padding: 15px 25px;color: #ffffff; }
.ec-base-layer .header > h1,
.ec-base-layer .header > h3 { font-size:15px; line-height:1.5; font-weight:400;}
.ec-base-layer .content {padding:0 25px; margin:25px 0 0; font-size:12px;}
.ec-base-layer div.ec-base-help { margin-top:0; }
.ec-base-layer .ec-base-button { padding:20px 0; text-align:center; }
.ec-base-layer .close { position:absolute; right:0; top:0; padding:11px 20px; cursor:pointer; }

/* popup */
body#popup {margin:0;}
#popup .ec-base-layer { position:relative; border:0; letter-spacing:-1px;background:#fbfbfb}
#popup .ec-base-layer .header { padding:15px 25px; letter-spacing:0;}
#popup .ec-base-layer .close { top:5px; }

/* ec-base-table */
.ec-base-layer .content > .ec-base-table table:first-child { margin-top:0; }
.ec-base-layer .ec-base-table table { line-height:1.4; }
.ec-base-layer .ec-base-table thead th { vertical-align:middle; }
.ec-base-layer .ec-base-table tbody th { vertical-align:middle; }
.ec-base-layer .ec-base-table td { padding:9px 10px 8px; }

  /* 가로형 - 쓰기타입 */
    .ec-base-layer .ec-base-table.typeWrite td { padding:10px; }
  /* 세로형 - 목록타입 */
    .ec-base-layer .ec-base-table.typeList tfoot td { padding:15px; }
  /* 테두리 타입 */
    .ec-base-layer .ec-base-table.typeBorder tfoot td { padding:10px 10px 12px; }

/* 목록이미지 장바구니아이콘 클릭시 */
#capp-shop-new-product-optionselect-layer{width:500px !important;box-shadow: 3px 3px 10px rgba(0,0,0,0.06); border-radius:10px; border:0 !important; height:320px !important;}