.xans-photoreview-display { overflow:hidden; margin:0 -24px 0 0; }
.xans-photoreview-display h2 { width:125px; height:17px; text-indent:-9999px; background:url('//img.echosting.cafe24.com/apps/photo-review/skin3/txt_title.png') no-repeat 0 0; }
.xans-photoreview-display .lister { float:left; width:171px; margin:0 24px 0 0; }

.xans-photoreview-display .lister_wrap { display:none; }

.xans-photoreview-display dl { margin:22px 0 0; }
.xans-photoreview-display dt { padding:15px 0 9px; border:1px solid #ddd; border-bottom:none; text-align:center; }
.xans-photoreview-display dt img { width:90%; }
.xans-photoreview-display dd { padding:0 0 2px; background-color:#f2f2f2; }
.xans-photoreview-display dd p { padding:0 14px; border-left:1px solid #ddd; border-right:1px solid #ddd; color:#606060; font-size:11px; line-height:15px; word-break:break-all; background-color:#fff; }
.xans-photoreview-display dd p.date { padding-top:4px; color:#b2b2b2; font-family:gulim, sans-serif; }
.xans-photoreview-display dd p.point { height:20px; padding-left:15px; }
.xans-photoreview-display dd p.post { padding-top:10px; padding-bottom:8px; border-bottom:1px solid #c0c0c0; background-color:#f1f1f1; }

.xans-photoreview-display .more { display:none; float:left; width:100%; height:38px; margin:28px 0 0; background: url('//img.echosting.cafe24.com/apps/photo-review/skin3/bg_more.jpg') repeat-x 0 0; }
.xans-photoreview-display .more a { display:block; padding:13px 0 0; height:25px; color:#fff; text-align:center; }
.xans-photoreview-display .more a:hover { text-decoration:none; }
.xans-photoreview-display .more a strong { padding:0 26px 0 0; background:url('//img.echosting.cafe24.com/apps/photo-review/skin3/ico_more.gif') no-repeat 100% 1px; }


.xans-photoreview-display .detail-dimmed { overflow-y: scroll; display:none; position:fixed; top:0px; right:0px; bottom:0px; left:0px; z-index:100; background-color:rgba(0,0,0,0.5); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#aa000000,endColorstr=#aa000000); }
.xans-photoreview-display .detail { display:none; position:static; z-index:110; width:538px; margin:45px auto 0; border:1px solid #515151; color:#606060; background-color:#fff; }
.xans-photoreview-display .detail p.post { position:relative; padding: 17px 0 14px 19px; font-weight:bold; background-color:#ededed; }
.xans-photoreview-display .detail p.post .close { display:block;position:absolute; top:15px; right:20px; width:16px; height:15px; text-indent:-9999px; background:url('//img.echosting.cafe24.com/apps/photo-review/skin3/btn_close.gif') no-repeat 0 0; }
.xans-photoreview-display .detail p.image { padding:20px 0 10px; text-align:center; }
.xans-photoreview-display .detail p.image img { width:500px; }
.xans-photoreview-display .detail ul { padding:0 19px 16px 19px; }
.xans-photoreview-display .detail li { margin:8px 0 0; padding:0 0 0 10px; line-height:17px; word-break:break-all; background:url('//img.echosting.cafe24.com/apps/photo-review/skin3/sflex_ico.png') no-repeat 1px 7px; }

.xans-photoreview-display .detail .contents {padding:0 19px 16px 19px;}